/** ─── Propriedades Customizadas */

/** ─── Classes Customizadas */

/* font-weight */
.has-weight-800 { font-weight: 800; }
.has-weight-700 { font-weight: 700; }

/** ─── Modificando SiimpleCSS */

.label {
    font-weight: 600;
}

/** ─── Estilos Globais */

html {
    font-size: 20px;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

main {
    flex: 1;
    margin: 0; 
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
}

/** ─── Componentes */

/*? ─── Buttons */

/* custom-white-button */
.btn-white-custom {
    transition: 0.2s !important;
}
.btn-white-custom:hover {
    box-shadow: 0 0 30px #ffffff28;
}

/* custom-primary-button */
.btn-primary-custom {
    transition: none !important;
}
.btn-primary-custom:hover {
    background-color: #0d62e1;
}

/* special-primary-button */
.btn-primary-special {
    transition: 0.2s !important;
}
.btn-primary-special:hover {
    background-color: #0d62e1;
    box-shadow: -5px 5px 0 white;
}
/** ─── Responsividade */

@media(max-width:639px) {
    html {
        font-size: 18px;
    }
}
@media(max-width:430px) {
    html {
        font-size: 16px;
    }
}
@media(max-width:372px) {
    html {
        font-size: 14px;
    }
}
@media(max-width:326px) {
    html {
        font-size: 12px;
    }
}
@media(max-width:280px) {
    html {
        font-size: 10px;
    }
}