:root {
    --main-blue: #3850b7;
    --light-red: #e34e4e;
}

/** ─── Modificando Bulma */

.is-rounded {
    border-radius: 0.8rem !important;
}

/** ─── Estilos Customizados */


/*? ─── Layout */

.w-max {
    width: 100%;
}

/*? ─── Buttons */

.ct-button {
    box-shadow: 0 5px 0 var(--main-blue);
}
.ct-button:active, .ct-button:focus {
    transform: translateY(5px);
    box-shadow: none;
}
