:root {
    --main-blue: #3850b7;
    --light-red: #e34e4e;
}

/** ─── Modificando Bulma */

.is-rounded {
    border-radius: 0.8rem !important;
}

/** ─── Estilos Globais */

html {
    font-size: 20px;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif !important;
}

main {
    flex: 1;
    margin: 0; 
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
}

/** ─── Estilos Customizados */


/*? ─── Layout */

.w-max {
    width: 100%;
}

/*? ─── Buttons */

.ct-button {
    box-shadow: 0 5px 0 var(--main-blue);
    transition: 30ms;
}
.ct-button:active, .ct-button:focus {
    transform: translateY(5px);
    box-shadow: none;
}
