@font-face {
    font-family: "Poppins";
    src: url("../res/fonts/poppins/Poppins-Regular.ttf");
}
@font-face {
    font-family: "Poppins";
    src: url("../res/fonts/poppins/Poppins-Black.ttf");
}
@font-face {
    font-family: "Poppins";
    src: url("../res/fonts/poppins/Poppins-BlackItalic.ttf");
}
@font-face {
    font-family: "Poppins";
    src: url("../res/fonts/poppins/Poppins-Bold.ttf");
}
@font-face {
    font-family: "Poppins";
    src: url("../res/fonts/poppins/Poppins-BoldItalic.ttf");
}
@font-face {
    font-family: "Poppins";
    src: url("../res/fonts/poppins/Poppins-ExtraBold.ttf");
}
@font-face {
    font-family: "Poppins";
    src: url("../res/fonts/poppins/Poppins-ExtraBoldItalic.ttf");
}
@font-face {
    font-family: "Poppins";
    src: url("../res/fonts/poppins/Poppins-ExtraLight.ttf");
}
@font-face {
    font-family: "Poppins";
    src: url("../res/fonts/poppins/Poppins-ExtraLightItalic.ttf");
}
@font-face {
    font-family: "Poppins";
    src: url("../res/fonts/poppins/Poppins-Italic.ttf");
}
@font-face {
    font-family: "Poppins";
    src: url("../res/fonts/poppins/Poppins-Light.ttf");
}
@font-face {
    font-family: "Poppins";
    src: url("../res/fonts/poppins/Poppins-LightItalic.ttf");
}
@font-face {
    font-family: "Poppins";
    src: url("../res/fonts/poppins/Poppins.ttf");
}
@font-face {
    font-family: "Poppins";
    src: url("../res/fonts/poppins/Poppins.ttf");
}
@font-face {
    font-family: "Poppins";
    src: url("../res/fonts/poppins/Poppins.ttf");
}
@font-face {
    font-family: "Poppins";
    src: url("../res/fonts/poppins/Poppins.ttf");
}
@font-face {
    font-family: "Poppins";
    src: url("../res/fonts/poppins/Poppins.ttf");
}